pre { font-size: 1.2em; }
.cores-Brasil { color: black; background-color: red; }
.cores-Pelotas { color: blue; background-color: yellow; }
.cores-Farroupilha { color: green; background-color: white; }