img { float: left; height: 300px; width: 300px; }
img.exerc { float: left; height: 200px; width: 200px; }
h1 { border-bottom-style: inset; }
.entre-letras { letter-spacing: 0.5em; }
.alinha-direita { text-align: right; }